:root{
    --background: #FFF3F0;
    --rood: #A52422;
    --paars: #414288;
    --roze: #FFF3F0;
    --groen: #44CF6C;
    --text: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    cursor: url(../cursor/tea.png), auto;

}

@font-face {
    font-family: 'montserrat';
    src: url(../font/Montserrat-Regular.ttf);
}

body{
    height: 100vh;
    overflow: hidden;
    font-size: 16px;
}


main {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
    font-family: 'montserrat';
    color: var(--text);
}

h2 {
    padding-top: 1rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.balk {
    flex: 1;
    height: 100%;
    transition: flex-grow 0.6s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    transition: opacity 0s ease-out, visibility 0s ;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
    transition-delay:  0.6s;
    transition-property: opacity, visibility;
    padding: 100px;
    width: 100%;
}

.content p {
    margin-top: 100px;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--roze);
    margin-top: 50px;
    font-size: 2rem;
    background-color: var(--text);
    height: 75px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

a:hover {
    background-color: var(--roze);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: var(--text);
}

.balk:hover {
    
    flex-grow: 9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.balk:hover .content {
    opacity: 1;
    visibility: visible;
}

.balk:not(:hover) .content {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s; /* No delay when becoming invisible */
}

.rood {
    background-color: var(--rood);
    }

.paars {
    background-color: var(--paars);
}

.roze {
    background-color: var(--roze);
}

.groen {
    background-color: var(--groen);
}